  .Header {
    color: white;
    background-color:turquoise;
    text-align: center;
    padding: 20px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
  }

  .Footer {
    background-color: darkgreen;
    text-align: center;
    padding: 15px;
    color:white;
    font-family: 'Raleway', sans-serif;
  }