  .Header {
    color: white;
    background-color:turquoise;
    text-align: center;
    padding: 20px;
    font-size: larger;
    font-family: 'Raleway', sans-serif;
  }

  body {
    align-content: centre;
  }

  .Footer {
    background-color: darkgreen;
    text-align: center;
    padding: 15px;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: small;
  }

  a[href^="mailto"] {
    color: white; 
  }
