  .Header {
    color: white;
    background-color:turquoise;
    text-align: center;
    padding: 20px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }